loki.write "default" {
endpoint {
url       = "http://gateway:3100/loki/api/v1/push"
tenant_id = "tenant1"
}
external_labels = {}
}

local.file_match "app_logs" {
path_targets = [
{
__path__ = "/logs-order/*.log",
job      = "app-logs",
},
{
__path__ = "/logs-product/*.log",
job      = "app-logs",
},
{
__path__ = "/logs-user/*.log",
job      = "app-logs",
},
]
sync_period = "5s"
}

loki.source.file "app_logs" {
targets    = local.file_match.app_logs.targets
forward_to = [loki.write.default.receiver]
}
